

/*
 the column sizing should have been done with the CSS Grid instead of using 
 the flexbox with specific width/height but I didn't have enought time :) 
*/

.category-json-wrapper {
  max-width: 40%;
  width: 40%;
  max-height: calc(100vh - 94px);
  height: calc(100vh - 94px);
}

.text-area {
  max-height: calc(100vh - 124px);
  height: calc(100vh - 94px);
}

.scrollable-wrapper {
  max-height: calc(100vh - 82px);
  overflow: auto;
}

/* Add also the following code if sticky header is wanted */
.scrollable-wrapper table thead th {
  background: white;
  position: sticky;
  top: 0;
  box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);
}
